@import "./lib/bootstrap/bootstrap";

/*
* Fonts: To use FontAwesome, uncomment font-awesome, comment out the custom font,
* and tweak the controlArrow CSS rules later in this file.
*/
// *@import "./lib/lookatthis-font.less";
@import "./lib/font-awesome/font-awesome";

@import "./lib/prefixer";
@import "./share-modal.less";
@import "./slides/start.less";

// Global variables
@img-root: "../assets";

@darker-overlay: rgba(0,0,0,0.7);
@black-screen: rgba(0,0,0,0.8);
@look-pink: #F60062;
@side-by-side-screen: rgba(295, 37, 115, 0.6);
@caption-screen-dark: rgba(175, 0, 71, 0.7);
@pink: rgba(200, 66, 119, 1);
@caption-screen-light: rgba(153, 9, 71, 0.7);

@small-type: 13px;

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

body {
    color: #555;
    font-family: "Gotham SSm", helvetica, arial, sans-serif;
    font: 18px/1.7 "Gotham SSm", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #333;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
    font-family: "Gotham", helvetica, arial, sans-serif;
}

.animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.primary-navigation {
    .controlArrow {
        position: fixed;
        top: 40%;
        width: 50px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 47px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: none;
        cursor: pointer;
        opacity: .3;

        @media @screen-small-above {
            top: 40%;

            height: 100px;
            font-size: 30px;
            border: 3px solid #fff;

            &:hover {
                background-color: #fff;
                color: #000;
                opacity: .9;
            }
        }

        @media @screen-small {
            &:active {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .controlArrow.prev {
        left: 0;

        /*&:before {*/
            /*font-family: "lookatthis";*/
            /*content: '\e801';*/
            /*display: block;*/
        /*}*/

        /* Uncomment to use FontAwesome */
        &:before {
            font-family: "FontAwesome";
            content: '\f104';
            display: block;
        }

        @media @screen-small-above {
            left: 10px;
            padding-top: 25px;
        }
    }
    .controlArrow.next {
        right: 0;
        padding: 0 0 0 5px;

        /*&:before {*/
            /*font-family: "lookatthis";*/
            /*content: "\e800";*/
            /*display: block;*/
        /*}*/

        /* Uncomment to use FontAwesome */
        &:before {
            font-family: "FontAwesome";
            content: "\f105";
            display: block;
        }

        @media @screen-small-above {
            right: 25px;
            padding-top: 25px;
        }
    }
}

.primary-navigation .controlArrow.titlecard-nav {
    opacity: .7;
    @media @screen-small-above {
        opacity: 1;
    }
}

// default slide styles
#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
}
.section {
    visibility: hidden;
    opacity: 0;
    .transition(opacity 3s ease);

    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    .slides {
        height: 100%;
        overflow: hidden;
        position: relative;

        #start-anchor {
            display: block;
        }

        //transition between slides
        .instant {
            .transition(all 0 ease-in);
        }

        .slidesContainer {
            float: left;
            position: relative;
            height: 100%;
            display: block;

            .slide {
                float: left;
                height: 100%;
                display: block;
                overflow: auto;
            }
        }
    }
}

//full-bleed background images on sections and slides
.section, .slide, .start {
    .background-size(cover);
    position: relative;
    background-position: left center;
    @media @screen-small-above {
        background-position: center center;
    }
}

.start {
    background-color: #333;
}

// full width container within a section or slide
.full-block {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    .full-block-cell {
        display: table-cell;
        position: relative;
        vertical-align: top;
        padding-top: 20px;
        @media @screen-small-above {
            padding-top: 0;
            vertical-align: middle;
        }
        width: 100%;
    }


    .full-block-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        @media @screen-small-above {
             padding: 20px 100px;
        }
    }
}

img {
    max-width: 100%;
}

.dark-overlay .full-block {
    &:after {
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        height: 100%;
        z-index: -1;
    }
}

.credit {
    font-family: helvetica, arial, sans-serif;
    padding-right: 20px;
    text-align: right;
    font-size: 10px;
    color: #fff;
    line-height: 14px;
    @media @screen-small-above {
         position: absolute;
         bottom: 10px;    
         right: 25px;
         font-size: 12px;
         max-width: 1000px;
    }
}

.chapter {
    background-color: #fff;

    .chapter-nav,
    .related-stories,
    .credits,
    .graphic,
    .nav,
    & > p,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        max-width: 730px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;

        @media @screen-small-above {
            padding-left: 0;
            padding-right: 0;
        }

    }

    &.intro { padding-top: 44px; }

    h1 {
        margin-top: 88px;
        margin-bottom: 10px;
        font-size: 48px;
        line-height: 1.1;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }
    
    h6 { line-height: 1.4; }

    > p {
        font-family: @font-family-serif;
        margin-bottom: 22px;
    }
    
    > h1 + p {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 44px;
        line-height: 1.8;
        font-weight: normal;
        font-family: "Gotham", helvetica, arial, sans-serif;
        text-align: center;
        color: #666;
    }
    
    > h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 22px;
        letter-spacing: 1px;
    }

    .top-nav,
    .bot-nav {
        text-align: center;
        max-width: none;
        padding-top: 11px;
        @media @screen-small-above {
            padding-top: 0;
        }

        > li {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            float: none;
            font-size: 12px;
            @media @screen-small-above {
                font-size: 14px;
            }
        
            > a {
                margin-left: 11px;
                margin-right: 11px;
                color: #ccc;
                border-radius: 0;
                padding: 6px 0 2px 0;
                @media @screen-small-above {
                    padding-top: 22px;
                    padding-bottom: 6px;
                }
                
                &:hover,
                &:active {
                    background: none;
                    color: #2A6496;
                }
            }

            &.title > a {
                font-weight: bold;
                text-transform: uppercase;
                color: #787878;
                letter-spacing: 1px;
            }

            &.active > a {
                background: none;
                border-bottom: 2px solid #eee;
                color: #787878;
                
                &:hover,
                &:active {
                    cursor: pointer;
                }
            }
        }
    }
    .bot-nav {
        padding-bottom: 11px;
        @media @screen-small-above {
            padding-bottom: 0;
        }

        > li > a {
            color: #bababa;
            padding-top: 2px;
            padding-bottom: 6px;
            @media @screen-small-above {
                padding: 6px 0 11px 0;
            }
        }
        > li.active > a {
            border-top: 2px solid #ccc;
            border-bottom: none;
        }
    }
    
    .chapter-nav {
        h2 { 
            font: 700 normal 18px "Gotham SSm", helvetica, arial, sans-serif;
            padding: 22px 0 88px 0;
            text-align: center;
            
            span {
                text-transform: uppercase;
                color: #999;
                display: block;
                font-size: 12px;
                margin-bottom: 3px;
                letter-spacing: 1px;
            }
            
            a:hover {
                text-decoration: none;
                color: #2A6496;
                cursor: pointer;
            }
        }
    }

    .final-nav {
        margin-top: 66px;
        background-color: #f1f1f1;
        padding: 44px 20px;
        max-width: none;
        color: #787878;
        
        h3 {
            margin: 0 0 22px 0;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            font-size: 14px;
            margin: 0 0 11px 0;
            line-height: 1.4;
            
            .date { color: #aaa; }
        }

        .related-stories {
            padding-bottom: 22px;
            border-bottom: 2px solid #fff;
            margin-bottom: 33px;
            
            a { font-weight: 700; }
        }
        
        .credits {
            h3 { 
                font-size: 14px;
                margin-bottom: 15px;
            }
            p { font-size: 12px; }
        }
    }

    .full-grid-wrapper,
    .side-by-side-wrapper {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;

        &.wide {
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


// Footer
footer {
    padding: 5px 15px 10px 15px;
    font-size: 10px;
    position: relative;
    z-index: 1000;
    background-color: #fff;
    min-height: 70px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li, p { float: left; }
    a, a:link, a:visited {
        color: #6d8ac4;
        font-weight: bold;
    }
    a:hover, a:active { color: #bccae5; }

    .primary {
        float: left;
        height: 52px;
        font-size: 12px;
        text-transform: lowercase;

        img {
            width: 66px;
            margin-top: -2px;
        }
        li {
            margin-left: 31px;
            line-height: 52px;
            text-transform: lowercase;

            &:first-child {
                margin-left: 0;
                width: 66px;
            }
        }
    }
    .secondary {
        height: 52px;

        p {
            float: right;
            margin-left: 30px;
            line-height: 52px;
            font-size: 12px;
            float: right;
            color: #999;
        }
        ul {
            float: right;
            margin-left: 30px;
        }
        li {
            line-height: 52px;
            font-size: 12px;
            margin-left: 15px;
        }
        a {
            color: #999;
            font-weight: normal;
        }
    }
}
// footer media queries
@media (max-width: 979px) {
    footer {
        .primary { float: none; }
        .secondary ul, .secondary p { margin-left: 0; float: left; }
    }
}
@media (max-width: 767px) {
    footer {
        .primary { display: none; }
        .secondary p { float: left; font-size: 10px; color: #bccae5; }
        .secondary ul { float: right; }
        .secondary li {
            font-size: 10px;
            text-transform: none;
            margin-left: 3px;

        }
        .secondary a {
            color: #bccae5;
            border-right: 1px solid #eee;
            padding-right: 2px;
            }
    }
}


// Photos and graphics
.caption-text {
    margin: 10px 0 0 0;
}
.metacaption {
    .make-md-column(12);
}

.full-grid-wrapper,
.side-by-side-wrapper,
.graphic {
    padding-top: 11px;
    padding-bottom: 33px;

    @media @screen-small-above { 
        padding-top: 22px;
        padding-bottom: 44px;
    }
}

.full-grid-wrapper {
    .make-row();

    .full-grid {
        .make-md-column(12);
    }
}

// 2x1
.side-by-side-wrapper {
    .make-row();

    > div {
        margin-bottom: 0;

        &:first-child { 
            margin-bottom: 22px;

            @media @screen-small-above { 
                margin-bottom: 0;
            }
        }
    }

    @media @screen-medium-above {
        div:first-child {
            margin-bottom: 0;
        }
        .captioned .caption-text,
        .metacaption .caption-text {
//            h6 { padding-bottom: 30px; }
        }
    }
    .fluidbox div {margin-bottom: 0;}

    @media @screen-medium-above {
        .captioned .caption-text,
        .metacaption .caption-text {
            h6 { padding-bottom: 0; }
        }
    }

    .side-by-side {
        .make-md-column(6);
    }
}

.side-by-side-wrapper + .full-grid-wrapper,
.full-grid-wrapper + .side-by-side-wrapper,
.full-grid-wrapper + .full-grid-wrapper,
.side-by-side-wrapper + .side-by-side-wrapper {
    padding-top: 0;
    margin-top: -11px;

    @media @screen-small-above { 
        margin-top: -22px;
    }
}


// share button
.share-wrapper {
    text-align: center;
    padding-bottom: @line-height-computed * 2;
}

.share.btn {
    .border-radius(0);
    text-transform: uppercase;

    i {
        margin-left: 10px;
    }

    &:hover {
        background: @link-color;
        color: #fff;
        border-color: @link-color;
    }
}
