<div class="slide start" data-anchor="start" id="slide-start" data-bgimage="img/{{ COPY.story_metadata.start_background_media }}">
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="look-branding">
                    <img src="assets/npr-logo.png">
                </div>
                <h1>{{ COPY.story_metadata.title|smarty }}</h1>
                <h2>{{ COPY.story_metadata.subtitle|smarty }}</h2>
                <h3>{{ COPY.story_metadata.byline|smarty }}</h3>
                <h4>{{ COPY.story_metadata.pubdate|smarty }}</h4>
                <button class="btn btn-go">{{ COPY.story_metadata.start_text }}</button>
            </div><!--full-block-content-->
        </div><!--full-block-cell-->
    </div><!--full-block-->
</div><!--slide-->


