<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div id="responsive-embed-nola-pupil-spending"></div>
        <script src="http://apps.npr.org/dailygraphics/graphics/nola-pupil-spending/js/lib/pym.js" type="text/javascript"></script>
        <script type="text/javascript">
            var pymParent = new pym.Parent(
                'responsive-embed-nola-pupil-spending',
                'http://apps.npr.org/dailygraphics/graphics/nola-pupil-spending/child.html',
                {}
            );
        </script>
    
    </div>
</div>
