<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="responsive-embed-nola-transportation"></div>

        <script src="http://apps.npr.org/dailygraphics/graphics/nola-transportation/js/lib/pym.js" type="text/javascript"></script>
        <script type="text/javascript">
        var pymParent = new pym.Parent(
            'responsive-embed-nola-transportation',
            'http://apps.npr.org/dailygraphics/graphics/nola-transportation/child.html',
            {}
        );
        </script>

    </div>
</div>
