{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}

<div class="section">
    
    {% for chapter in COPY.chapters %}
    <div class="slide" data-anchor="{{ chapter.id }}" id="chapter-{{ chapter.id}}">

        {% if loop.index0 == 0 %}
        {% include "start.html" %}
        <a id="start-anchor"></a>
        {% endif %}

        <div class="chapter">
            <h1>{{ chapter.title }}</h1>
            <h2>{{ chapter.subtitle }}</h2>
            {{ render_file('%s.md' % chapter.id)|markdown|smarty }}

            <div class="chapter-nav">
                {% if loop.index < COPY.chapters|length  %}
                <h1>
                    <a class="next-chapter">Next: {{ COPY.chapters[loop.index].subtitle }}</a>
                </h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block wide_content %}
{% endblock %}
