<div class="start" data-bgimage="{{ COPY.story_metadata.start_background_media }}">
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="look-branding">
                    <img src="assets/img/npr-logo.png" alt="NPR" class="logo-npr" />
                    <img src="assets/img/pulitzer-center-logo.svg" alt="Pulitzer Center" class="logo-pulitzer">
                </div>

                <h1>{{ COPY.story_metadata.title|smarty }}</h1>
                <h2>{{ COPY.story_metadata.subtitle|smarty }}</h2>
                <h3>{{ COPY.story_metadata.byline|smarty }}</h3>

                <button class="btn btn-go">{{ COPY.story_metadata.start_text }}</button>
            </div>
        </div>
    </div>
</div>


